%LICENSE%
#ifndef _VSI_NN_OP_%upper(OP_NAME)%_H
#define _VSI_NN_OP_%upper(OP_NAME)%_H

#include "vsi_nn_types.h"

typedef struct _vsi_nn_%lower(OP_NAME)%_param
{
    // Add parameters here
    int32_t nothing;
} vsi_nn_%lower(OP_NAME)%_param;

#endif

