%LICENSE%
#ifndef _VSI_NN_OP_%upper(OP_NAME)%_H
#define _VSI_NN_OP_%upper(OP_NAME)%_H

#include "vsi_nn_types.h"

typedef struct _vsi_nn_%lower(OP_NAME)%_param
{
    struct _%lower(OP_NAME)%_local_data_t* local;
    // Add parameters here
} vsi_nn_%lower(OP_NAME)%_param;
_compiler_assert(offsetof(vsi_nn_%lower(OP_NAME)%_param, local) == 0, \
    vsi_nn_%lower(OP_NAME)%_h );

#endif

